<header class="l-header">
    <div class="l-header__container">
        <div class="l-header__logo">
            <div class="l-header__symbolWrap">
                <img class="l-header__symbol" src="../static/logo-fish-gradient.svg" alt="Logo Nathalie Saliés">
            </div>
            <div class="l-header__titleWrap">
                <p class="l-header__title">Nathalie Saliés</p>
                <p class="l-header__description">Psicóloga Clínica</p>
            </div>
        </div>
        <button class="l-burger">
            <div class="l-burger__line"></div>
            <div class="l-burger__line"></div>
            <div class="l-burger__line"></div>
        </button>
        <button class="l-burgerClose"></button>
        <div class="l-menuWrap" id="menu">
            <nav class="l-menu">
                <div class="l-menu__item">
                    <a href="#sobre" class="l-menu__link">Sobre</a>
                </div>
                <div class="l-menu__item">
                    <a href="#" class="l-menu__link">Especialidades</a>
                </div>
                <div class="l-menu__item">
                    <a href="" class="l-menu__link">Depoimentos</a>
                </div>
                <div class="l-menu__item">
                    <a href="" class="l-menu__link">Contato</a>
                </div>
            </nav>
        </div>
    </div>
</header>