/* Variables */

@import 'reset';
$body-font: 'Lato',
sans-serif;
$heading-font: 'Lato',
sans-serif;
$base-font-size: 16px;
$color-font: #602050;
$color-black: #000;
$color-white: #FFF;
$color-gray01: #F1F1F1;
$color-primary: #602050;
$color-primary-dark: #4e1841;
$color-primary-light: #6d235a;
$color-primary-neon: #a42274;
$color-secondary: #f4d21e;
$twitter: #1da1f2;
$instagram: #000;
$breakpoint-tablet: 768px;
$breakpoint-desktop: 1024px;
$breakpoint-desktopL: 1200px;
$radius-sm: 4px;
body {
    font-family: $body-font;
    font-size: $base-font-size;
    color: $color-font;
    background-color: $color-gray01;
}

.l-header {
    background-color: $color-primary;
    padding: 10px 20px;
    display: flex;
    justify-content: center;
    position: relative;
    min-height: 80px;
    @media (min-width: $breakpoint-tablet) {
        min-height: 100px;
    }
    &__container {
        width: 100%;
        display: flex;
        justify-content: space-between;
        max-width: $breakpoint-desktopL;
    }
    &__logo {
        display: flex;
        justify-content: space-between;
    }
    &__symbol {
        width: 50px;
        @media (min-width: $breakpoint-tablet) {
            width: 70px;
        }
    }
    &__symbolWrap,
    &__titleWrap,
    .l-menu__item {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
    }
    &__titleWrap {
        padding-left: 20px;
        @media (max-width: $breakpoint-tablet - 1px) {
            display: none;
        }
    }
    &__title,
    &__description {
        text-align: center;
        line-height: 1;
    }
    &__title {
        color: $color-white;
        font-size: 26px;
        letter-spacing: 1.6px;
        text-transform: uppercase;
    }
    &__description {
        color: rgba($color-white, .5);
        font-size: 14px;
        letter-spacing: 0.8px;
        padding: 4px 0;
        font-weight: 300;
    }
}

.l-burgerClose {
    display: none;
    @media(max-width: $breakpoint-tablet - 1px) {
        position: absolute;
        width: 60px;
        height: 60px;
        top: 10px;
        right: 20px;
        cursor: pointer;
        border-radius: $radius-sm;
        border: 1px solid $color-secondary;
        background: transparent;
        &:focus {
            outline: none;
        }
    }
}

.l-burger {
    width: 60px;
    height: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: $radius-sm;
    background-color: $color-primary-light;
    border: 1px solid $color-primary-neon;
    cursor: pointer;
    &:focus {
        outline: none;
        ~.l-burgerClose {
            display: block;
        }
        ~.l-menuWrap>.l-menu {
            transform: translateY(0px) translateX(0px);
        }
    }
    @media(min-width: $breakpoint-tablet) {
        display: none;
    }
    &__line {
        width: 20px;
        height: 2px;
        background-color: $color-secondary;
        &:nth-child(2) {
            margin: 4px 0;
        }
    }
}

.l-menu {
    color: white;
    display: flex;
    flex-direction: column;
    background-color: $color-primary-dark;
    @media(max-width: $breakpoint-tablet - 1px) {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        transform: translateY(-100%) translateX(0px);
        transition: transform 400ms;
        overflow: hidden;
    }
    @media(min-width: $breakpoint-tablet) {
        display: flex;
        flex-direction: row;
        position: static;
        background-color: transparent;
    }
    &__item {
        padding: 0 5px;
    }
    &__link {
        color: $color-white;
        text-decoration: none;
        padding: 20px 18px;
        display: block;
        text-transform: uppercase;
        font-weight: 300;
        font-size: 14px;
        border-radius: $radius-sm;
        transition: background-color .2s ease-in-out;
        width: 100%;
        text-align: center;
        &:hover {
            background-color: rgba($color-black, .1);
        }
    }
}

.l-menuWrap {
    display: flex;
    align-content: center;
    @media(max-width: $breakpoint-tablet - 1px) {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        display: block;
        overflow: hidden;
        height: calc(100vh - 80px);
    }
}